<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      diária
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="diária" labelPlacement="floating"
    placeholder="digite o valor da diária" [(ngModel)]="diaria"></ion-input>
  </ion-item>

  <ion-item>
   <ion-range min="0"  max="30" [(ngModel)] = "dia"></ion-range>
   <ion-label>{{dia}}</ion-label>
  </ion-item>

  <ion-button expand="block" (click)="abrirTela()">previa</ion-button>
</ion-content>
