<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="diária" labelPlacement="floating"
    placeholder="digite o valor da diária" [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="email" labelPlacement="floating"
    placeholder="digite seu email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="abrirTela()">Cadastrar</ion-button>
</ion-content>
